scrapyenv
tgbotenv
scg_price/scg_price/spiders/__pycache__
scg_price/scg_price/__pycache__
scg_price/logs
DataBase/__pycache__
DataBase/ScryfallDataBase.db
tg_bot/__pycache__
bot_env/*
testenv/*
tests/*
venv/*
secret.txt
ScryfallDb/*
